body
{
	width: 80% ;
    background: #0F9452;
	color: black;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: normal;
	margin: 0 auto;
	
}
header
{
	display: flex;
	background:white;
	font-weight: normal;
	text-align: center;
	width: 100%;
	height: 160px;
}
figure{
	width: 200px;
	justify-self: center;
	align-self: center;
	justify-self: flex-start;
}
header img{
	width: 80%;
	height: auto;
	background-repeat: no-repeat;
}
header h3
{
	width: 60%;
	font-style: italic;
	justify-self: center;
	align-self: center;
	color:#757575;
	line-height: 50px;
}
nav
{	width: 100%;
	margin-bottom: 0px;
	background: #0c5e35;
	padding:  0 0 0;
}
nav ul
{
	display: flex;
	height: 30px;
	list-style: none;
    color: white;
	padding: 0;
	margin: 0;
	justify-content: flex-end;
}
nav li{
	margin-right: 12px;
}
nav li a
{
	display: inline-block;
	background: #0c5e35;
	color: #6cb15e;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	transition: all 0.5s ease;
}
nav li a:hover
{
	background: white;
}


#contenidos-paginas{
	background: #99d1a1;
	padding: 0px 0px 0px 0px;
}

#centro3{
	width: 800px; 
	margin: auto; border: 0px solid; height: auto; overflow: hidden;
	text-align: center;
}
.encabezados{
	font-family: 'Calibri';
	font-size: 30px;
}

.t1{
	color: #000000;
}

.t2{
	color: #15b137;
}
.descripcion-pagina{
	color: #848484;

}
#izquierda{
	width: 300px;
	height: auto; overflow: hidden;
	border: 0px solid;
	float: left;
}

.descripcion-pagina{
	color: #000000;
}

.texto-contacto{
	text-align: left;
}

.email-contacto{
	color: #000000;
	text-decoration: none;
}

.email-contacto:hover{
	text-decoration: underline;
}

#derecha{
	width: 490px;
	border: 0px solid;
	height: auto; overflow: hidden;
	float: right;
}

input[type="text"], input[type="email"]{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

textarea{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

.nombre-mensaje{
	width: 95%;
}

.email-asunto{
	width: 46%;
}

input[type="submit"]{
	padding: 10px;
	background: #0489B1;
	color: #fff;
	border: 1px solid #086A87;
	border-radius: 5px;
}

#mapa{
	width: 100%;
	height: auto; overflow: hidden;
	padding: 20px;
}


footer
{
    background: #0c5e35;
	width: 100%;
	padding-bottom: 5px;
}
.footer{
	display: flex;
	justify-content: space-between;
}
#hoja{
	display: flex;
	width: 120px;
}

#link{
    color: white;
}

footer ul{
	align-self: flex-end;
	display: flex;
	justify-items: flex-end;
}
footer li{
	list-style: none;
}
li img{
	width: 65px;
}
footer p{
	margin: 0 10px ;
}