*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(Fondo.png);
}

.form-register{
    width: 400px;
    background: #0c351e;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px rgb(9, 54, 29);
}

.form-register h4{
    font-size:22px;
    margin-bottom:20px;
}

.controls{
    width: 100%;
    background: #123620;
    padding:10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:1px solid #1aa046;
    font-family: "calibri";
    font-size: 18px; 
    color: white;
}

.form-register p{
    height: 40px;
    text-align: center; 
    font-size: 18px;
    line-height: 40px;
}

.form-register a{
    color: white;
    text-decoration: none; 
}

.form-register a:hover{
    color: white;
    text-decoration: underline; 
}

.form-register .botons{
    width: 100%;
    background: #26db6b;
    border:none;
    padding: 12px;
    color:white;
    margin:16px 0;
    font-size: 16px;
}