body
{
	width: 80% ;
    background: #0F9452;
	color: black;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: normal;
	margin: 0 auto;
}

header
{
	display: flex;
	background:white;
	font-weight: normal;
	text-align: center;
	width: 100%;
	height: 160px;
}
figure{
	width: 200px;
	justify-self: center;
	align-self: center;
	justify-self: flex-start;
}
header img{
	width: 80%;
	height: auto;
	background-repeat: no-repeat;
}
header h3
{
	width: 60%;
	font-style: italic;
	justify-self: center;
	align-self: center;
	color:#757575;
	line-height: 50px;
}
nav
{	width: 100%;
	margin-bottom: 0px;
	background: #0c5e35;
	padding:  0 0 0;
}

nav ul
{
	display: flex;
	height: 30px;
	list-style: none;
    color: white;
	padding: 0;
	margin: 0;
	justify-content: flex-end;
}

nav li{
	margin-right: 12px;
}
nav li a
{
	display: inline-block;
	background: #0c5e35;
	color: #6cb15e;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	transition: all 0.5s ease;
}

nav li a:hover
{
	background: white;
}
main{
	width: 100%;
	height: auto;
	background-color:#99d1a1;
	text-align:center;
}
main h3{
	display: inline-block;
	color: #757575;
	font-size:50px;
	margin-top: 50px auto 70px;
}
.imagenes-centro{ 
    align-self: center;
	border-spacing: 10px;
}
.imgz{
	transition: transform 2s;
}
.imgz:hover{
	transform: scale(1.2);
}
.im2{
	transition: transform 2s;
}
.im2:hover{
	transform: scale(1.1);
}
td, th {
	border: black 1px solid;
	box-shadow: 2px 2px 5px #757575;
	padding: 5px 0 0 0;
  }
.categorias-centro{
	border-collapse: separate;
	border-spacing: 10px;
}
.imagenes-centro a, .categorias-centro a{
    text-decoration: none;
    color: black;
}
main h6{
	margin: 5px;
}
main h2{
	display: inline-block;
	font-size: 30px;
	color: #757575;
}
.cuadrados{
	padding-bottom: 30px;
}




footer
{
    background: #0c5e35;
	width: 100%;
	padding-bottom: 5px;
}
.footer{
	display: flex;
	justify-content: space-between;
}
#hoja{
	display: flex;
	width: 120px;
}

#link{
    color: white;
}

footer ul{
	align-self: flex-end;
	display: flex;
	justify-items: flex-end;
}
footer li{
	list-style: none;
}
li img{
	width: 65px;
}
footer p{
	margin: 0 10px ;
}